# This file is part of LibreCodeCoop/ansible-docker
#
# Copyright (C) 2022 LibreCode coop <contact@librecode.coop>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>
#
# https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg


[defaults]
; callbacks_enabled = timer, profile_tasks, profile_roles
forks=50
pipelining = True
;vault_password_file = ./.vault.pass.txt
callbacks_enabled = timer

interpreter_python = /usr/bin/python3
host_key_checking  = False

inventory        = inventory.ini
remote_user      = librecode
private_key_file = /home/mohr/.ssh/id_rsa

#[ssh_connection]
#ssh_args = -o ControlMaster=auto -o ControlPersist=60s
