
listening-port=3478
tls-listening-port=5349
min-port=49152
max-port=65535
verbose
fingerprint
use-auth-secret


static-auth-secret={{ turn_secret }}

realm={{ nextcloud_url }}

cert=/etc/ssl/certs/cert.pem

pkey=/etc/ssl/private/privkey.pem

syslog

#cli-ip=127.0.0.1
#cli-port=5766
#cli-password=CHANGE_ME

no-rfc5780

no-stun-backward-compatibility

response-origin-only-with-rfc5780
